.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Flexible based on content */
  background: #f5f5f7; /* Neutral soft background */
  padding: 40px; /* More padding for better spacing */
}

.loginForm {
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15); /* Softer, deeper shadow */
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  padding: 2.5rem;
  margin: auto;
  text-align: left;
}

.title {
  font-size: 26px; /* Slightly larger for impact */
  color: #2c3e50; /* Stylish dark blue */
  margin-bottom: 2rem;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  color: #2c3e50;
  font-size: 18px; /* Larger, clearer labels */
  font-weight: 500; /* Medium weight for readability */
}

.input, .button {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px; /* Increased margin for better spacing */
  border: 2px solid #ccc; /* Solid, noticeable border */
  border-radius: 8px; /* Rounded edges for modern look */
  box-sizing: border-box;
}

.input {
  background-color: #ffffff;
}

.button {
  background-color: #3498db; /* Cool blue for buttons */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #2980b9; /* Darker shade on hover */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* More pronounced shadow on hover */
  transform: translateY(-2px); /* Slight raise effect */
}

.requestList {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.requestItem {
  background-color: #ffffff;
  margin-bottom: 15px; /* More spacing between items */
  padding: 20px; /* Generous padding for better readability */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Spread the content within items */
  align-items: center;
  font-size: 16px; /* Slightly larger font size */
}

@media (max-width: 768px) {
  .loginForm {
      padding: 1.5rem;
  }

  .title, .input, .button {
      text-align: center;
  }

  .requestItem {
      flex-direction: column;
      text-align: center;
  }
}
