.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.addButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.addButton:hover {
  background-color: #218838;
}

.projectsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex; /* Using flexbox to align content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center-align all content */
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  padding: 8px 16px;
  margin: 0 10px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.paginationButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 16px;
  font-weight: 600;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  width: 50%;
  max-width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}


.editButton {
  padding: 8px 15px;
  margin-top: 10px; /* Ensure there is some space between the button and the text above it */
  background-color: #ffc107; /* Golden-yellow color for the button */
  color: #333; /* Dark color for text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for interactivity */
  width: 80%; /* Give the button a definitive width to enhance appearance */
  text-align: center; /* Ensure the text within the button is centered */
}

.editButton:hover {
  background-color: #e0a800; 
  transform: translateY(-2px); 
}

.editButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
